/*****************************************
              LOGIN SCREEN
******************************************/
.login-screen{
  border: 2px solid darkred;
  height: 555px;
}
.logo-row{
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.logo{
  height: 60px;
  width: 60px;
}
.title-row{
  width: 100%;
  text-align: center;
}
.title{

}