<div (window:resize)="onResize($event)" class="container">
    <div class="row">


        <!-- FOR DESKTOPS more than 992 pixels -->
        <div *ngIf="screenWidth > 992" style="padding: 0" class="login-screen col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-xs-12">

            <!-- Photo Upload Modal -->


            <!-- PRELOADER -->
            <preloader *ngIf="loading"></preloader>

            <!-- FRONT PAGE UI -->
            <div *ngIf="status === ''" #loginScreen>
                <div class="logo-row">
                    <img class="logo" src="../../assets/Photos/logo.png">
                </div>
                <div class="title-row">
                    <span class="title">Instagram Profile Preview</span>
                </div>
                <div class="note-row">
                    <span class="note">Enter Username you wish to preview</span>
                </div>
                <form (submit)="submit($event)" role="form" class="form-row">
                    <div style="padding-right: 15px; padding-left: 15px" class="search-row">
                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input #usernameInput (focus)="onFocus(usernameInput)" #user type="text" placeholder="Username" class="form-control search-text" id="user" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                <label for="user" class="glyphicon glyphicon-search" rel="tooltip" title="user"></label>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox checkbox-row">
                        <input #checkbox type="checkbox" id="checkbox">
                        <label for="checkbox">
                            Remember Username
                        </label>
                    </div>
                    <div class="button-row">
                        <button type="submit" class="fill">Preview</button>
                    </div>
                </form>
            </div>

            <div [hidden]="status !== 'Error'">
                <div #errorScreen>
                    <div class="error-row">
                        <span class="error-message">Profile is in Private mode or does not exist</span>
                    </div>
                    <div class="button-row">
                        <button (click)="showLogin()" type="submit" class="fill">Try Again</button>
                    </div>
                </div>
            </div>

            <!-- PROFILE PREVIEW UI  status = 'Public'-->
            <div [hidden]="status !== 'Public'">
                <div #profileUI class="profileUI">
                    <div class="user-info">
                        <div  class="font1 username-top">{{userInfo.username}}</div>
                        <div class="first-row">
                            <img class="profile-picture" [src]="userInfo.profilePicture">
                            <div class="stats-box">
                                <div class="stats-container">
                                    <div class="stats">
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.posts}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">posts</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.followed}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">followers</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.follows}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">following</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-photo-box">
                                    <button (click)="photoModal.open()" class="add-button">
                                        Add Photo
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-picture-row">
                            <div style="margin-top: 5px" class="font2">{{userInfo.fullName}}</div>
                        </div>
                        <div class="username">
                            <modal (onClose)="clearImage()" #photoModal>
                                <modal-header #modalHeader1>
                                </modal-header>
                                <modal-content style="text-align: center">
                                    <div>
                                        <ng-croppie *ngIf="croppieImage" #ngxCroppie [orientation]="orientation" [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ng-croppie>
                                    </div>
                                    <div>
                                        <div class="image-upload">
                                            <label *ngIf="croppieImage === ''" for="fileupload2">
                                                <img class="add-image" src="../../assets/Photos/Plus.png">
                                                <span style="display: block" class="upload-text">Upload a Photo</span>
                                            </label>
                                            <input #inputFile style="display: none" type="file" id="fileupload2"  #imageUpload (change)="imageUploadEvent($event)" accept="image/*">
                                        </div>
                                    </div>
                                </modal-content>
                                <modal-footer style="text-align: center; width: inherit">
                                    <button type="button" class="btn action-btn btn-default cancel-btn" (click)="photoModal.close()">Cancel</button>
                                    <button type="button" class="btn action-btn btn-default clear-btn" data-dismiss="modal" (click)="clearImage()">Clear</button>
                                    <button type="button" class="btn action-btn btn-default save-btn" (click)="saveImageFromCroppie(); photoModal.close()">Save</button>
                                </modal-footer>
                            </modal>
                        </div>
                    </div>
                    <div class="photo-box2">
                        <img *ngFor="let image of images" class="single-photo2" [src]="image">
                    </div>
                </div>
            </div>
        </div>


        <!-- FOR MOBILE less than 992 pixels -->
        <div *ngIf="screenWidth < 992" style="padding: 0" class="login-screen2 col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-xs-12">

            <!-- Photo Upload Modal -->


            <!-- PRELOADER -->
            <preloader *ngIf="loading"></preloader>

            <!-- FRONT PAGE UI -->
            <div *ngIf="status === ''" #loginScreen>
                <div class="logo-row">
                    <img class="logo" src="../../assets/Photos/logo.png">
                </div>
                <div class="title-row">
                    <span class="title">Instagram Profile Preview</span>
                </div>
                <div class="note-row">
                    <span class="note">Enter Username you wish to preview</span>
                </div>
                <form (submit)="submit($event)" role="form" class="form-row">
                    <div style="padding-right: 15px; padding-left: 15px" class="search-row">
                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input #usernameInput (focus)="onFocus(usernameInput)" #user type="text" placeholder="Username" class="form-control search-text" id="user2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                <label for="user2" class="glyphicon glyphicon-search" rel="tooltip" title="user"></label>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox checkbox-row">
                        <input #checkbox type="checkbox" id="checkbox2">
                        <label for="checkbox2">
                            Remember Username
                        </label>
                    </div>
                    <div class="button-row">
                        <button type="submit" class="fill">Preview</button>
                    </div>
                </form>
            </div>

            <div [hidden]="status !== 'Error'">
                <div #errorScreen>
                    <div class="error-row">
                        <span class="error-message">Profile is in Private mode or does not exist</span>
                    </div>
                    <div class="button-row">
                        <button (click)="showLogin()" type="submit" class="fill">Try Again</button>
                    </div>
                </div>
            </div>

            <!-- PROFILE PREVIEW UI  status = 'Public'-->
            <div [hidden]="status !== 'Public'">
                <div #profileUI class="profileUI">
                    <div class="user-info">
                        <div  class="font1 username-top">{{userInfo.username}}</div>
                        <div class="first-row">
                            <img class="profile-picture" [src]="userInfo.profilePicture">
                            <div class="stats-box">
                                <div class="stats-container">
                                    <div class="stats">
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.posts}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">posts</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.followed}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">followers</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <div class="stat-number">
                                                <span class="number-font">{{userInfo.follows}}</span>
                                            </div>
                                            <div class="label-title">
                                                <span class="label-font">following</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-photo-box">
                                    <button (click)="photoModal.open()" class="add-button">
                                        Add Photo
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-picture-row">
                            <div style="margin-top: 5px" class="font2">{{userInfo.fullName}}</div>
                        </div>
                        <div class="username">
                            <modal (onClose)="clearImage()" #photoModal>
                                <modal-header #modalHeader1>
                                </modal-header>
                                <modal-content style="text-align: center">
                                    <div>
                                        <ng-croppie *ngIf="croppieImage" #ngxCroppie [orientation]="orientation" [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ng-croppie>
                                    </div>
                                    <div>
                                        <div class="image-upload">
                                            <label *ngIf="croppieImage === ''" for="fileupload">
                                                <img class="add-image" src="../../assets/Photos/Plus.png">
                                                <span style="display: block" class="upload-text">Upload a Photo</span>
                                            </label>
                                            <input #inputFile style="display: none" type="file" id="fileupload"  #imageUpload (change)="imageUploadEvent($event)" accept="image/*">
                                        </div>
                                    </div>
                                </modal-content>
                                <modal-footer style="text-align: center; width: inherit">
                                    <button type="button" class="btn action-btn btn-default cancel-btn" (click)="photoModal.close()">Cancel</button>
                                    <button type="button" class="btn action-btn btn-default clear-btn" data-dismiss="modal" (click)="clearImage()">Clear</button>
                                    <button type="button" class="btn action-btn btn-default save-btn" (click)="saveImageFromCroppie(); photoModal.close()">Save</button>
                                </modal-footer>
                            </modal>
                        </div>
                    </div>
                    <div class="photo-box2">
                        <img *ngFor="let image of images" class="single-photo2" [src]="image">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>