<div (window:resize)="onResize($event)" class="container">
    <div class="row">


        <!-- FOR DESKTOPS more than 992 pixels -->
        <div *ngIf="screenWidth > 992" style="padding: 0" class="login-screen col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-xs-12">

            <!-- PRELOADER -->
            <preloader *ngIf="loading"></preloader>

            <!-- FRONT PAGE UI -->
            <div *ngIf="status === 'f'" #loginScreen>
                <div class="logo-row">
                    <img class="logo" src="../../assets/Photos/logo.png">
                </div>
                <div class="title-row">
                    <span class="title">Profile Preview</span>
                </div>
                <div class="note-row">
                    <span class="note">Enter Username you wish to preview</span>
                </div>
                <form (submit)="submit($event)" role="form" class="form-row">
                    <div style="padding-right: 15px; padding-left: 15px" class="search-row">
                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input #user type="text" placeholder="Username" class="form-control search-text" id="user" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                <label for="user" class="glyphicon glyphicon-search" rel="tooltip" title="user"></label>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox checkbox-row">
                        <input #checkbox type="checkbox" id="checkbox1">
                        <label for="checkbox1">
                            Remember Username
                        </label>
                    </div>
                    <div class="button-row">
                        <button type="submit" class="fill">Preview</button>
                    </div>
                </form>
            </div>

            <!-- PROFILE PREVIEW UI  status = 'Public'-->
            <div [hidden]="status !== 'g'" #profileUI style="opacity: 1; height: 100%">
                <div class="user-info">
                    <div class="profile-picture-row">
                        <img class="profile-picture" [src]="dummyUser.profilePicture">
                    </div>
                    <div class="username">
                        <div class="font1">{{dummyUser.username}}</div>
                        <div style="margin-top: 5px" class="font2">{{dummyUser.fullName}}</div>
                    </div>
                </div>
                <div class="">

                </div>
            </div>
        </div>


        <!-- FOR MOBILE less than 992 pixels -->
        <div *ngIf="screenWidth < 992" style="padding: 0" class="login-screen2 col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-xs-12">

            <!-- PRELOADER -->
            <preloader *ngIf="loading"></preloader>

            <!-- FRONT PAGE UI -->
            <div *ngIf="status === 'f'" #loginScreen>
                <div class="logo-row">
                    <img class="logo" src="../../assets/Photos/logo.png">
                </div>
                <div class="title-row">
                    <span class="title">Profile Preview</span>
                </div>
                <div class="note-row">
                    <span class="note">Enter Username you wish to preview</span>
                </div>
                <form (submit)="submit($event)" role="form" class="form-row">
                    <div style="padding-right: 15px; padding-left: 15px" class="search-row">
                        <div class="form-group">
                            <div class="icon-addon addon-md">
                                <input #user type="text" placeholder="Username" class="form-control search-text" id="user2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                <label for="user2" class="glyphicon glyphicon-search" rel="tooltip" title="user"></label>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox checkbox-row">
                        <input #checkbox type="checkbox" id="checkbox2">
                        <label for="checkbox2">
                            Remember Username
                        </label>
                    </div>
                    <div class="button-row">
                        <button type="submit" class="fill">Preview</button>
                    </div>
                </form>
            </div>

            <!-- PROFILE PREVIEW UI  status = 'Public'-->
            <div [hidden]="status !== ''" #profileUI class="profileUI">
                <div class="user-info">
                    <div class="profile-picture-row">
                        <img class="profile-picture" [src]="dummyUser.profilePicture">
                    </div>
                    <div class="username">
                        <div class="font1">{{dummyUser.username}}</div>
                        <div style="margin-top: 5px" class="font2">{{dummyUser.fullName}}</div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="photo-box">
                    <img *ngFor="let photo of dummyPhotos" class="single-photo" [src]="photo">
                </div>
            </div>
        </div>

    </div>
</div>