/*****************************************
              LOGIN SCREEN
******************************************/
.login-screen{
  height: 555px;
}
.logo-row{
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.logo{
  height: 60px;
  width: 60px;
}
.title-row{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.title{
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
}
.note-row{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.note{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.search-row {
  text-align: center;
  margin-top: 12px;
}
.search-text{
  box-shadow: none!important;
  border: 1px solid #aaaaaa !important;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  color: black;
}
.search-text:focus{
  box-shadow: none!important;
  border: 1px solid #aaaaaa !important;
}
.checkbox-row{
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  outline: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding-left: 35px;
}
#checkbox1:focus {
  outline: 0!important;
}
.button-row{
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
